/* $Id$ */

div.profile ul.userpoints-links {
    padding-left: 0;
}

div.profile ul.userpoints-links li.first {
    padding-left: 0;
}

div.block-userpoints div.userpoints-total {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.block-userpoints ul.userpoints-links li {
    display: block;
}

td.userpoints-transactions-field-points {
  text-align: right;
}

table.userpoints-myuserpoints-total td {
  width: 50%;
}

table.userpoints-myuserpoints-total {
  width: 50%;
  min-width: 300px;
}

